{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <hr>
  <p>제목 : {{ recruit.title }}</p>
  <p>작성자: {{ recruit.author.username }} </p>
  <p>내용 : {{ recruit.content }}</p>
  <p>모집 인원 : {{ recruit.current_cnt }} / {{ recruit.max_cnt }}</p>
  <hr>
  <form action="{% url 'recruits:pay' recruit.pk %}" method="GET" class="col-12 text-center">
      <button class="btn btn-warning">결제하기</button>
  </form>
  <a href="{% url 'recruits:update' recruit.pk %}">[UPDATE]</a>
  <form action="{% url 'recruits:delete' recruit.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DELETE">
  </form> 
  <a href="{% url 'recruits:index' %}">[back]</a>


{% include 'recruits/_comment_list.html' %}
{% include 'recruits/_comment_form.html' %} 
{% endblock content %}
